body {
    font-family: "Poppins", sans-serif;
    background-color: #f7f7f7;
}

.logo {
    width: 150px;
}

.navbar {
    align-items: center;
    background-color: #007460;
    border-radius: 5px;
    padding: 10px;
    color: white;
    animation: nav-loader 0.5s ease-in-out 1;
}

.navbar-button {
    padding: 10px;
    border-radius: 5px;
    background-color: #e85526;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    color: white;
    font-size: 15px;
    width: 150px;
    cursor: pointer;
}

.navbar-button:hover {
    background-color: #007460;
    border: 1px solid #000;
}

/* TODO: need to change the styling of search bar and search button using ids */
#search-history {
    width: 22%;
    padding: 10px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.search-live {
    margin-bottom: 10px;
    margin-top: 10px;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.search-bar {
    padding: 10px;
}

.search-bar2 {
    padding: 10px;
    display: none;
}

.search-button {
    width: 150px;
    padding: 10px;
    border-radius: 5px;
    background-color: #e85526;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    color: white;
    font-size: 15px;
    cursor: pointer;
}

.search-button2 {
    width: 150px;
    padding: 10px;
    border-radius: 5px;
    background-color: #e85526;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    color: white;
    font-size: 15px;
    cursor: pointer;
}

.search-button:hover {
    background-color: #007460;
    border: 1px solid #000;
}

.search-button2:hover {
    background-color: #007460;
    border: 1px solid #000;
}

.print-btn-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 10px;
}

.print-btn {
    width: 100px;
    padding: 5px;
    border-radius: 5px;
    background-color: #e85526;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    color: white;
    font-size: 13px;
    cursor: pointer;
}

.print-btn:hover {
    background-color: #007460;
    border: 1px solid #000;
}

h2 {
    color: #000;
    text-align: left;
    margin-left: 10px;
}

.table-container {
    text-align: left;
}

tr:nth-of-type(even) td {
    border-collapse: collapse;
    background-color: lightgray;
}

tr:last-of-type td {
    border-bottom: 2px solid #007460;
}

th {
    border-bottom: 1px light gray;
    border-radius: 5px;
    border-collapse: collapse;
    color: #fff;
    background-color: #007460;
    padding: 5px;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
}

td {
    border-bottom: 1px light gray;
    border-collapse: collapse;
    color: #000;
    background-color: #fff;
    padding: 5px;
}

table {
    width: 100%;
}

@keyframes nav-loader {
    0% {
        opacity: 0;
        transform: translateY(-100px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}
